*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit;
}

body, div, section, main, header, footer, p, ul, h1, h2 {
    margin: 0;
    padding: 0;
}

h1, h2, p {
    font-size: 1em;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    display: block;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: #E4E4E4 url('../img/fundo_banner.svg') repeat top center;
}

/* Header */
header {
    padding: 30px 0 20px;
    color: #F8F8F8;
    background-color: #004E2D;
}

header h1 {
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}

header nav {
    max-width: 600px;
    margin: 20px auto 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav li + li{
    margin-left: 20px;
}

header nav a, header nav button {
    padding: 10px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: inherit;
    background: none;
    display: block;
    cursor: pointer;
    outline: none;
}

header nav a:hover, header nav button:hover {
    text-decoration: underline;
}

/* Inserir Pergunta */
