/* Cards */
.cards {
    max-width: 740px;
    padding: 120px 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards .card {
    max-width: 340px;
    padding: 30px;
    border: 2px solid;
    border-radius: 10px;
    color: #004E2D;
    background-color: #F8F8F8;
}

.cards .card + .card {
    margin-left: 20px;
}

.cards .card p {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.3em;
    text-align: center;
    color: #4A4A4A;
}

.cards .card .btn {
    width: 200px;
    border-radius: 10px;
    margin-top: 30px;
}

@media only screen and (max-width: 739px) {
    .cards {
        max-width: 300px;
        padding: 120px 0;
        flex-direction: column;
        justify-content: center;
    }

    .cards .card + .card {
        margin-top: 30px;
        margin-left: 0;
    }

    .cards .card {
        width: 300px;
        padding: 0;
        border: none;
        background-color: transparent;
    }

    .cards .card .titulo-container, .cards .card p{
        display: none;
    }

    .cards .card .btn {
        width: 100%;
        padding: 15px 30px;
        border: none;
        margin-top: 0;
        font-size: 24px;
    }
}