/* Página não logado */
.primeiros-passos {
    max-width: 740px;
    padding: 120px 20px;
    margin: 0 auto;
    display: block;
}

.logado .primeiros-passos {
    display: none;
}

.primeiros-passos p {
    max-width: 300px;
    margin: 30px auto;
    font-size: 16px;
    text-align: center;
}

.primeiros-passos .botoes {
    max-width: 220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 20px;
}

.primeiros-passos .btn {
    width: 100px;
    border: 2px solid currentColor;
    font-size: 18px;
    color: #004E2D;
    background-color: #F8F8F8;
    transition: background-color 0.1s ease;
}

.primeiros-passos .btn:hover {
    color: #F8F8F8;
    background-color: #004E2D;
}

/* Página Logado */
.logado .inserir-pergunta, .logado .btn-sair {
    display: block;
}

.btn-sair {
    display: none;
}

.inserir-pergunta {
    max-width: 740px;
    padding: 120px 20px;
    margin: 0 auto;
    display: none;
}

.inserir-pergunta form {
    max-width: 460px;
    margin: 30px auto 0;
}

.inserir-pergunta form .campo {
    margin-bottom: 20px;
}

.inserir-pergunta form label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.inserir-pergunta form input, .inserir-pergunta form select {
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
    color: #F8F8F8;
    background-color: rgba(117, 117, 117, 0.5);
    outline-color: currentColor;
}

.inserir-pergunta form select {
    color: #4A4A4A;
}

.inserir-pergunta .campo-alternativas input + input{
    margin-top: 20px;
}

/* Alterar Placeholder */
::-webkit-input-placeholder {
    color: #4A4A4A;
}

:-moz-placeholder { /* Firefox 18- */
    color: #4A4A4A;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #4A4A4A;  
}

:-ms-input-placeholder {  
    color: #4A4A4A;  
}

.inserir-pergunta .btn {
    margin-top: 30px;
}

/* Modal */
.modal-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}

.modal-container.ativo {
    display: flex;
}

.modal-container.ativo .modal{
    animation: descer 0.4s forwards ease;
}

.modal {
    max-width: 300px;
    padding: 30px;
    border: 4px solid;
    border-radius: 4px;
    color: #F8F8F8;
    background-color: #004E2D;
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal .btn-fechar {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.modal .btn-fechar:hover {
    transform: rotate(90deg);
}

form {
    margin-top: 20px;
}

.modal form .campo {
    margin-bottom: 20px;
}

.modal form label {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    display: block;
}

.modal form input {
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
    color: #F8F8F8;
    background-color: rgba(117, 117, 117, 0.5);
    outline-color: currentColor;
}

.modal .erro-login {
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: #F8F8F8;
    background-color: rgba(255, 117, 117, 0.7);
    display: none;
}

.modal form button {
    width: 120px;
    padding: 10px 0;
    border: 2px solid;
    border-radius: 4px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #004E2D;
    display: block;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.modal form button:hover {
    color: #F8F8F8;
    background-color: #004E2D;
}

.modal p {
    margin: 30px 0;
    text-align: center;
}

.modal .opcoes {
    width: 140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal .opcoes button {
    width: 60px;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #004E2D;
    background-color: #F8F8F8;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.modal .opcoes button:hover {
    border: 2px solid;
    color: #F8F8F8;
    background-color: #004E2D;
}

.modal .opcoes button#sim {
    color: #F8F8F8;
    background-color: rgba(255, 255, 255, 0.2);
}