/* Página não logado */
.primeiros-passos {
    max-width: 740px;
    padding: 120px 20px;
    margin: 0 auto;
    display: block;
}

.logado .primeiros-passos {
    display: none;
}

.primeiros-passos p {
    max-width: 300px;
    margin: 30px auto;
    font-size: 16px;
    text-align: center;
}

.primeiros-passos .botoes {
    max-width: 220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 20px;
}

.primeiros-passos .btn {
    width: 100px;
    border: 2px solid currentColor;
    font-size: 18px;
    color: #004E2D;
    background-color: #F8F8F8;
    transition: background-color 0.1s ease;
}

.primeiros-passos .btn:hover {
    color: #F8F8F8;
    background-color: #004E2D;
}

/* Página Logado */
.logado .inserir-pergunta, .logado .btn-sair {
    display: block;
}

.btn-sair {
    display: none;
}

.inserir-pergunta {
    max-width: 740px;
    padding: 120px 20px;
    margin: 0 auto;
    display: none;
}

.inserir-pergunta form {
    max-width: 460px;
    margin: 30px auto 0;
}

.inserir-pergunta form .campo {
    margin-bottom: 20px;
}

.inserir-pergunta form label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.inserir-pergunta form input, .inserir-pergunta form select {
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
    color: #F8F8F8;
    background-color: rgba(117, 117, 117, 0.5);
    outline-color: currentColor;
}

.inserir-pergunta form select {
    color: #4A4A4A;
}

.inserir-pergunta .campo-alternativas {
    display: grid;
    gap: 0 20px;
    grid-template-columns: repeat(4, 1fr);
}

.inserir-pergunta .campo-alternativas label {
    grid-column: 1 / -1;
}

/* Alterar Placeholder */
::-webkit-input-placeholder {
    color: #4A4A4A;
}

:-moz-placeholder { /* Firefox 18- */
    color: #4A4A4A;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #4A4A4A;  
}

:-ms-input-placeholder {  
    color: #4A4A4A;  
}

.inserir-pergunta .btn {
    margin-top: 30px;
}