header {
    padding: 30px 0 20px;
    color: #F8F8F8;
    background-color: #004E2D;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: #E4E4E4 url('../img/fundo_banner.svg') repeat top center;
}